@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #000;
  --foreground: #fff;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 0.875rem;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nekst), sans-serif;
}
